database_url=postgresql+asyncpg://user:password@localhost:5432/db
database_url_migrations=postgresql+psycopg://user:password@localhost:5432/db

default_user_full_name=Full Name
default_user_email=example@example.com
default_user_password=12345678

postgres_user=toolbox-postgres-user
postgres_password=toolbox-postgres-password
postgres_db=toolbox-postgres-db

secret_key=toolbox-secret-key