database_url=postgresql+asyncpg://user:password@host:5432/db
database_url_migrations=postgresql+psycopg://user:password@host:5432/db

default_user_full_name=Full Name
default_user_email=exemplo@exemplo.com
default_user_password=12345678

postgres_user=postgres_user
postgres_password=postgres_password
postgres_db=postgres_db

token_expire_minutes=99
refresh_token_expire_days=99

brevo_api_key=xkey...
brevo_from_email=exemplo@exemplo.com
brevo_from_name=From Name

secret_key=secret_key