DATABASE_URL="postgresql+asyncpg://user:password@localhost:5432/db"
DATABASE_URL_MIGRATIONS="postgresql+psycopg://user:password@localhost:5432/db"

DEFAULT_USER_FULL_NAME = "Full Name"
DEFAULT_USER_EMAIL = "example@example.com"
DEFAULT_USER_PASSWORD = "12345678"

POSTGRES_USER="postgres-user"
POSTGRES_PASSWORD="postgres-password"
POSTGRES_DB="postgres-db"

SECRET_KEY="secret-key"